Corp.TestRouterServiceWcfServer/Service References/MessageRouterProxy/ThreePleLayerSecurityWcfServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AntigonisTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AntigonisTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThreePleLayerSecurityServerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThreePleLayerSecurityServerFault" nillable="true" type="tns:ThreePleLayerSecurityServerFault" />
</xs:schema>