Corp.TestRouterServiceWcfServer/Service References/MessageRouterProxy/ThreePleLayerSecurityWcfServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ThreePleLayerSecurityWcfServer?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/AntigonisTypes.ThreePleLayerSecurity" />
  <xs:element name="ProcessThreePleLayerSecurityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AntigonisTypes.ThreePleLayerSecurity" minOccurs="0" name="request" nillable="true" type="q1:ThreePleLayerSecurityMessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessThreePleLayerSecurityRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AntigonisTypes.ThreePleLayerSecurity" minOccurs="0" name="ProcessThreePleLayerSecurityRequestResult" nillable="true" type="q2:ThreePleLayerSecurityMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AntigonisTypes.ThreePleLayerSecurity" minOccurs="0" name="request" nillable="true" type="q3:ThreePleLayerSecurityMessageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AntigonisTypes.ThreePleLayerSecurity" minOccurs="0" name="PingResult" nillable="true" type="q4:ThreePleLayerSecurityMessageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>